# product-service environment variables
SECRET_KEY=django-insecure-change-me-in-production-product-svc

DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,product-service,nginx

# Database (PostgreSQL)
DB_NAME=product_db
DB_USER=dbuser
DB_PASSWORD=dbpassword
DB_HOST=postgres-db
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:80

# Logging
LOG_LEVEL=INFO
